/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1400px;


// Colors
$white: #fff;
$black: #000;
$star-yellow: #DFD93A;
$light-grey: #CECECE;
$dark-grey: #BEBEBE;
$creme: #F0EDE1;
$grey: #535759;
$blue: #DBE7F1;
$green: #DCE8DE;
$pink: #DEB6CF;
$red: #9B2B1F;
$dark-blue: #004177;
