/* =============
    Base
============= */

.container{
    display:grid;
    grid-template-columns: 162.75px auto 162.75px;
    grid-template-areas:
    ". content ."
    ;
}

.content{
    grid-area: content;
}

.content-spacing{
    padding-top: 120px;
}
