/* =============
    Reviews
============= */

.chart{
    align-self: center;
    grid-area: chart;
}

.reviews{

    @include lg{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas: 
        "review1 chart"
        "review2 ."
        "review3 .";
    }
}

.layout{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
    "profile details rating"
    ". word word"
    ". comment like"
    ". share .";

    @include lg{
      display: grid;
      grid-template-columns: 10% 15% 15% 15% 45%;
      grid-template-areas:
      "profile details . . rating"
      ". word word word word"
      ". comment share like ."
    }
}

.profile{
   grid-area: profile; 
}

.details{
    grid-area: details; 
 }

 .rating{
    grid-area: rating;
    display: inline-block;
    align-content: right;
 }

 .word{
    grid-area: word; 
 }

 .comment{
    grid-area: comment;
    display: inline-block;
 
 }

 .like{
    grid-area: like;
    display: inline-block;
 
 }

 .share{
    grid-area: share; 
    display: inline-block;
 }

 .button-text-rev{
    color: $black;
    text-decoration: none;
 }

 ul{
    list-style: none;
 }

 .review1{
    grid-area: review1;
    border-width: 1px;
    border-radius: 8px;
    border-color: $black;
    border-style: solid;
    height: 400px;
    @include lg{
      height: 280px; 
    }

 }

 .review2{
    grid-area: review2;
    border-width: 1px;
    border-radius: 8px;
    border-color: $black;
    border-style: solid;
    height: 400px;
    @include lg{
      height: 280px; 
    }

 }

 .review3{
    grid-area: review3;
    border-width: 1px;
    border-radius: 8px;
    border-color: $black;
    border-style: solid;
    height: 400px;
    @include lg{
      height: 280px; 
    }
 }

 .rev-padding{
   padding: 16px;
 }

 .rev-spacing{
   gap: 17px;

   @include lg{
      gap: 72px;
   }
 }