/* =============
    Zipcode
============= */

form{
    border-color: $black;
    border-radius: 4px;
}

button{
    color: $white;
    background-color: $black;
    border-radius: 8px;
}

::placeholder{
    color: $black;
}