/* =============
    Footer
============= */

footer{
    background-color: $black;
    color: $white;
}

.footer-grid{
    display:grid;
    grid-template-columns: 20% 10% 10% 10% 40%;
    grid-template-areas: 
    "flogo company finfo support ."
    ". company finfo support ."
    ". company finfo . newsletter"
    ". company finfo . newsletter"
    ". company finfo . ."
    ". . finfo . copyright"
    ". . finfo . socials";
}

.copyright{
    grid-area: copyright;
    text-align: right;  
  }
  
  .socials{
    grid-area: socials;
      display: inline-block;
      gap: 5px;
  }

  .flogo{
    grid-area: flogo;
  }

  .finfo{
    grid-area: finfo;
  }

  .support{
    grid-area: support;
  }

  .company{
    grid-area: company;
  }

  .newsletter{
    grid-area: newsletter;
  }
  
  .padding-footer{
      padding: 5% 5%;
  }

  